<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
<strong>Destinário:</strong> {{ recipient }}<br>
<strong>Produto:</strong> {{ product }}<br>
<strong>Horário do cancelmaneto: </strong>{{ canceled_at }}<br>
  </small>
</p>
