<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega atribuida para você, confira os detalhes abaixo:</p>
<p>
<strong>Destinário:</strong> {{ recipient }}<br>
<strong>Id da entrega:</strong> {{ delivery_id }}<br>
<strong>Produto:</strong> {{ product }}<br>
  </small>
</p>
